<!DOCTYPE html>
<html>
  <head>
    <title>PixeLingo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script type="text/javascript">
      window.imageKey = "<%= Rails.application.credentials[:unsplash_access_key] %>"
      window.translationKey = "<%= Rails.application.credentials[:rapid_api_key] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
